.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-search {
    width: 200px;
    margin-top: 20vh;
}

.input-box {
    border: 1px solid #e7e7e7;
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 25px;
}

.search-button {
    background-color: #e7e7e7;
    padding: 10px;
    cursor: pointer;
    border: none;
    outline: none;
}

.search-result-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start !important;
    margin-right: 25%;
    width: 60%;
    margin-top: 30px;
}

.search-result-title {
    font-size: 20px;
    color: blue;
    margin: 0;
    cursor: pointer;
}

.search-result-url {
    font-size: 10px;
    margin: 5px 0;
}

.search-result-description {
    margin: 5px 0;
}

.card-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 22%;
    right: 5%;
    z-index: 60;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
    border: #e7e7e7 solid 1px;
    padding: 10px;
    max-width: 350px;
}

.card-img {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.image-background {
    background-color: transparent;
    position: fixed;
    top: 0;
    z-index: 55;
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 600px) {
    .search-result-box {
        width: 80%;
        margin-right: 0;
    }
    .image-background {
        background-color: rgba(0, 0, 0, 0.8);
    }
}